* {
    box-sizing: border-box;
}
#free {
    background-color: lightgreen;
}
td:hover {
    background-color: lightblue;
}
table {
    border-spacing: 20px;
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
}
td {
    border: 1px solid black;
    width: 75px;
    height: 75px;
    font-size: 14pt;
}
th {
    font-size: 20pt;
}