body {
    background-image: url(images/starfield.jpg);
    color: aqua;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
}
ul {
    list-style-image: url(images/fullmoon.png);
    font-size: 14pt;
    
}
