body {
    background-color: rgb(178,131,88);
    width: 800px;
}

h1 {
    background-color: rgb(100,255,135);
}

h2 {
    background-color: rgb(152,135,178);
}

h3 {
    background-color: rgb(152,135,178);
}

figcaption {
    font-style: italic;
    color: gray;
}

figure {
    width: 600px;
    margin: auto;
}
img {
    width: 600px;
    height: 350px;
}